database.sqlite
backup.sqlite
/obj/Debug/net5.0-windows/App.g.cs
/obj/Debug/net5.0-windows/apphost.exe
/obj/Debug/net5.0-windows/MainWindow.baml
/obj/Debug/net5.0-windows/MainWindow.g.cs
/obj/Debug/net5.0-windows/management-system.assets.cache
/obj/Debug/net5.0-windows/management-system.csproj.AssemblyReference.cache
/obj/Debug/net5.0-windows/management-system.csproj.CoreCompileInputs.cache
/obj/Debug/net5.0-windows/management-system.csproj.FileListAbsolute.txt
/obj/management-system.csproj.nuget.dgspec.json
/obj/management-system.csproj.nuget.g.props
/bin/Debug/net5.0-windows/ref/management-system.dll
/bin/Debug/net5.0-windows/management-system.dll
/obj/Debug/net5.0-windows/ref/management-system.dll
/obj/Debug/net5.0-windows/management-system.dll
/bin/Debug/net5.0-windows/management-system.exe
/obj/Debug/net5.0-windows/management-system.g.resources
/obj/Debug/net5.0-windows/management-system.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system.genruntimeconfig.cache
/bin/Debug/net5.0-windows/management-system.pdb
/obj/Debug/net5.0-windows/management-system.pdb
/bin/Debug/net5.0-windows/management-system.runtimeconfig.dev.json
/obj/Debug/net5.0-windows/management-system_MarkupCompile.cache
/obj/Debug/net5.0-windows/management-system_MarkupCompile.lref
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/obj/Debug/net5.0-windows/management-system_jmjtbk3u_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_jmjtbk3u_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_jmjtbk3u_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_jmjtbk3u_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/apphost.exe
/obj/Debug/net5.0-windows/management-system.assets.cache
/management-system.csproj
/obj/Debug/net5.0-windows/management-system.csproj.AssemblyReference.cache
/obj/Debug/net5.0-windows/management-system.csproj.CoreCompileInputs.cache
/obj/Debug/net5.0-windows/management-system.csproj.FileListAbsolute.txt
/obj/management-system.csproj.nuget.dgspec.json
/obj/management-system.csproj.nuget.g.props
/bin/Debug/net5.0-windows/ref/management-system.dll
/bin/Debug/net5.0-windows/management-system.dll
/obj/Debug/net5.0-windows/ref/management-system.dll
/obj/Debug/net5.0-windows/management-system.dll
/bin/Debug/net5.0-windows/management-system.exe
/obj/Debug/net5.0-windows/management-system.g.resources
/obj/Debug/net5.0-windows/management-system.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system.genruntimeconfig.cache
/bin/Debug/net5.0-windows/management-system.pdb
/obj/Debug/net5.0-windows/management-system.pdb
/bin/Debug/net5.0-windows/management-system.runtimeconfig.dev.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/obj/Debug/net5.0-windows/app/views/App.g.cs
/.idea/.idea.management-system.dir/.idea/dataSources.xml
/obj/Debug/net5.0-windows/app/views/MainWindow.baml
/obj/Debug/net5.0-windows/app/views/MainWindow.g.cs
/obj/Debug/net5.0-windows/management-system_0k3uq5rq_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_0k3uq5rq_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_0k3uq5rq_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_0k3uq5rq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_0ljuk1qc_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_0ljuk1qc_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_0ljuk1qc_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_0ljuk1qc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_2qnsdtkq_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_2qnsdtkq_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_2qnsdtkq_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_2qnsdtkq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_2znp5s33_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_2znp5s33_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_2znp5s33_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_2znp5s33_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_2zvxc41h_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_2zvxc41h_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_2zvxc41h_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_2zvxc41h_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_agbolinu_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_agbolinu_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_agbolinu_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_agbolinu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_bfqqen33_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_bfqqen33_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_bfqqen33_wpftmp.assets.cache
/obj/management-system_bfqqen33_wpftmp.csproj.nuget.dgspec.json
/obj/management-system_bfqqen33_wpftmp.csproj.nuget.g.props
/obj/management-system_bfqqen33_wpftmp.csproj.nuget.g.targets
/obj/Debug/net5.0-windows/management-system_bfqqen33_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_bl3fm4fp_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_bl3fm4fp_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_bl3fm4fp_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_bl3fm4fp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_bs3ednil_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_bs3ednil_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_bs3ednil_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_bs3ednil_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_c3khbp4i_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_c3khbp4i_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_c3khbp4i_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_c3khbp4i_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_cflp2c1r_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_cflp2c1r_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_cflp2c1r_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_cflp2c1r_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_dzpqmyvu_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_dzpqmyvu_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_dzpqmyvu_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_dzpqmyvu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_e5wawg5o_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_e5wawg5o_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_e5wawg5o_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_e5wawg5o_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_eaw5wpan_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_eaw5wpan_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_eaw5wpan_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_eaw5wpan_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_eoa0uvua_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_eoa0uvua_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_eoa0uvua_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_eoa0uvua_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_ew0phhrl_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_ew0phhrl_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_ew0phhrl_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_ew0phhrl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_g3akxtzt_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_g3akxtzt_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_g3akxtzt_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_g3akxtzt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_gu5h2dtf_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_gu5h2dtf_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_gu5h2dtf_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_gu5h2dtf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_hp2k2xw3_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_hp2k2xw3_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_hp2k2xw3_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_hp2k2xw3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_htcnozyn_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_htcnozyn_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_htcnozyn_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_htcnozyn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_j3sghkd0_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_j3sghkd0_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_j3sghkd0_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_j3sghkd0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_jvq02tgs_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_jvq02tgs_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_jvq02tgs_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_jvq02tgs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_kgsyidsg_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_kgsyidsg_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_kgsyidsg_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_kgsyidsg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_lwtbzcna_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_lwtbzcna_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_lwtbzcna_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_lwtbzcna_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_nsnd14v1_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_nsnd14v1_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_nsnd14v1_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_nsnd14v1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_pkblwbe0_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_pkblwbe0_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_pkblwbe0_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_pkblwbe0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_pyzpmkh1_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_pyzpmkh1_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_pyzpmkh1_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_pyzpmkh1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_r1sacafd_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_r1sacafd_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_r1sacafd_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_r1sacafd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_rmkjuzl0_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_rmkjuzl0_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_rmkjuzl0_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_rmkjuzl0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_rqz1yqa1_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_rqz1yqa1_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_rqz1yqa1_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_rqz1yqa1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_soythv4k_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_soythv4k_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_soythv4k_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_soythv4k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_u551vxzr_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_u551vxzr_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_u551vxzr_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_u551vxzr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_v43o0zqe_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_v43o0zqe_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_v43o0zqe_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_v43o0zqe_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_wgeqsjcq_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_wgeqsjcq_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_wgeqsjcq_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_wgeqsjcq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_xpypx2aw_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_xpypx2aw_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_xpypx2aw_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_xpypx2aw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_xupygtn4_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_xupygtn4_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_xupygtn4_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_xupygtn4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_y4qqioc1_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_y4qqioc1_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_y4qqioc1_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_y4qqioc1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system_zvgluk2t_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_zvgluk2t_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_zvgluk2t_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_zvgluk2t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
