database.sqlite
backup.sqlite
/obj/Debug/net5.0-windows/App.g.cs
/obj/Debug/net5.0-windows/apphost.exe
/obj/Debug/net5.0-windows/MainWindow.baml
/obj/Debug/net5.0-windows/MainWindow.g.cs
/obj/Debug/net5.0-windows/management-system.assets.cache
/obj/Debug/net5.0-windows/management-system.csproj.AssemblyReference.cache
/obj/Debug/net5.0-windows/management-system.csproj.CoreCompileInputs.cache
/obj/Debug/net5.0-windows/management-system.csproj.FileListAbsolute.txt
/obj/management-system.csproj.nuget.dgspec.json
/obj/management-system.csproj.nuget.g.props
/bin/Debug/net5.0-windows/ref/management-system.dll
/bin/Debug/net5.0-windows/management-system.dll
/obj/Debug/net5.0-windows/ref/management-system.dll
/obj/Debug/net5.0-windows/management-system.dll
/bin/Debug/net5.0-windows/management-system.exe
/obj/Debug/net5.0-windows/management-system.g.resources
/obj/Debug/net5.0-windows/management-system.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0-windows/management-system.genruntimeconfig.cache
/bin/Debug/net5.0-windows/management-system.pdb
/obj/Debug/net5.0-windows/management-system.pdb
/bin/Debug/net5.0-windows/management-system.runtimeconfig.dev.json
/obj/Debug/net5.0-windows/management-system_MarkupCompile.cache
/obj/Debug/net5.0-windows/management-system_MarkupCompile.lref
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/obj/Debug/net5.0-windows/management-system_jmjtbk3u_wpftmp.AssemblyInfo.cs
/obj/Debug/net5.0-windows/management-system_jmjtbk3u_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net5.0-windows/management-system_jmjtbk3u_wpftmp.assets.cache
/obj/Debug/net5.0-windows/management-system_jmjtbk3u_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
